@model Shahrdari.Models.M_Users
@{
    ViewBag.Title = "ویرایش کاربر";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_master.cshtml";
}
@using Shahrdari.BussinessLayer

<div class="ContentSection" mf-slice='1' id="divAllPersonel">
    <div class="ContentSectionHeader">
        کاربر ها<span>ویرایش کاربر</span>
    </div>
    <table class="tbForm">
        <tr>
            <td>
                <input type="text" class="txtForm" id="txtName" placeholder="نام" mf-required maxlength="50" value="@Model.FirstName" />
                <div class="altForm">نام را وارد کنید</div>
            </td>
            <td>
                <input type="text" class="txtForm" id="txtFamily" placeholder="نام خانوادگی" mf-required maxlength="50" value="@Model.LastName" />
                <div class="altForm">نام خانوادگی را وارد کنید</div>
            </td>
            <td>
                <input type="text" mf-type='IntNumber' class="txtForm" id="txtMobile" placeholder="تلفن همراه" mf-required maxlength="11" value="@Model.MobileNumber" />
                <div class="altForm">تلفن همراه را وارد کنید</div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="txtForm txtDate" id="txtBirthDate" placeholder="تاریخ تولد" readonly value='@(Model.BirthDate.HasValue?Model.BirthDate.Value.ConvertMiladiToShamsi():"")' />
                <div class="altForm">تاریخ تولد را وارد کنید</div>
            </td>
            <td>
                <span class="FormInputTitle">وضعیت :</span>
                <label class="control control--radio">
                    <input type="radio" name="PersonelStatus" @(Model.IsActive ? "checked" : "") value="true" />
                    <div class="control__indicator"></div><span>فعال</span>
                </label>
                <label class="control control--radio">
                    <input type="radio" name="PersonelStatus" value="false" @(!Model.IsActive ? "checked" : "") />
                    <div class="control__indicator"></div><span>غیر فعال</span>
                </label>
            </td>
            <td>
                <span class="FormInputTitle">جنسیت :</span>
                <label class="control control--radio">
                    <input type="radio" value="@((decimal)Shahrdari.Enums.E_PublicCategory.GENDER.MAN)" @(Model.Gender == Shahrdari.Enums.E_PublicCategory.GENDER.MAN ? "checked" : "") name="Gender" />
                    <div class="control__indicator"></div><span>مرد</span>
                </label>
                <label class="control control--radio">
                    <input type="radio" value="@((decimal)Shahrdari.Enums.E_PublicCategory.GENDER.WOMAN)" @(Model.Gender == Shahrdari.Enums.E_PublicCategory.GENDER.WOMAN ? "checked" : "") name="Gender" />
                    <div class="control__indicator"></div><span>زن</span>
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span class="fileUploadTitle">تصویر کاربر : </span>
                <div class="fileUpload">&nbsp;&nbsp;انتخاب فایل<input id="uplProfileImage" type="file" accept=".jpg" class="upload" mf-upload-role="UserImage" mf-accept="jpg" onchange="UploadChangeEvent(this,true,'@Model.ImageName','imgProfilePreview');" /></div>
                <div class="fileUploadAddress" mf-upload-role="UserImage">فایلی انتخاب نشده</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span class="FormInputTitle">پیش نمایش :</span>
                <img src="~/Areas/Admin/Images/Profile/@Model.ImageName" style="border-radius:50%;" width="100" height="100" alt="پیش نمایش" id="imgProfilePreview" />
            </td>
        </tr>
    </table>

    <div class="ContentSectionHeader">
        اطلاعات تکمیلی<span>اطلاعات مربوط به موسسه</span>
    </div>
    <table class="tbForm">
        <tr>
            <td>
                <label class="control control--radio">
                    <input type="radio" value="@((decimal)Shahrdari.Enums.E_PublicCategory.USER_TYPE.HOME_STORE)" @(Model.UserType == Shahrdari.Enums.E_PublicCategory.USER_TYPE.HOME_STORE ? "checked" : "") name="UserType" checked onchange="changeUserType(@((decimal)Shahrdari.Enums.E_PublicCategory.USER_TYPE.HOME_STORE));" />
                    <div class="control__indicator"></div><span>خانه / مغازه</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control control--radio">
                    <input type="radio" value="@((decimal)Shahrdari.Enums.E_PublicCategory.USER_TYPE.RESIDENTIAL_OFFICE_OR_COMMERCIAL)" @(Model.UserType == Shahrdari.Enums.E_PublicCategory.USER_TYPE.RESIDENTIAL_OFFICE_OR_COMMERCIAL ? "checked" : "") name="UserType" onchange="changeUserType(@((decimal)Shahrdari.Enums.E_PublicCategory.USER_TYPE.RESIDENTIAL_OFFICE_OR_COMMERCIAL));" />
                    <div class="control__indicator"></div><span>مجتمع مسکونی , اداری یا تجاری / کاخانه / اداره</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <select class="txtForm drpForm" id="drpUserType" disabled>
                    @foreach (Shahrdari.Models.M_PublicCategory li in ViewBag.AnistetoType)
                    {
                        <option value="@li.Id" @((int)Model.InstituteType == li.Id ? "selected" : "")>@li.Title</option>
                    }
                </select>
                <div class="altForm">نوع موسسه را انتخاب کنید</div>
            </td>
            <td>
                <input type="text" class="txtForm" id="txtAnisName" value="@Model.InstituteName" disabled placeholder="نام موسسه" mf-required maxlength="50" />
                <div class="altForm">نام موسسه را وارد کنید</div>
            </td>
            <td>
                <input type="text" mf-type='IntNumber' class="txtForm" value="@Model.PostalCode" disabled id="txtAnisPostalCode" placeholder="کد پستی موسسه" mf-required maxlength="10" />
                <div class="altForm">کد پستی موسسه را وارد کنید</div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" mf-type='IntNumber' class="txtForm" value="@Model.Tell" disabled id="txtAnisTell" placeholder="تلفن همراه" mf-required maxlength="11" />
                <div class="altForm">تلفن را وارد کنید</div>
            </td>
        </tr>
    </table>
    <div class="ContentSectionFooter">
        <input type="button" value="ویرایش" class="btnForm btnFormGreen" onclick="submitForm();" />
        <input type="button" value="انصراف" class="btnForm btnFormOrange" onclick="window.location = '@Url.Action("Index", "Users")'" />
    </div>
</div>

<script>

    changeUserType(@((decimal)Model.UserType))

    function submitForm() {
        if (validateForm() == false)
            return;
        if ($("#txtBirthDate").val() != "" && !IsValidShamsiDate($("#txtBirthDate").val())) {
            ShowMessage("توجه", "تاریخ تولد صحیح نیست", MessageType.Warning);
            return;
        }
        var param = {};
        param["FirstName"] = $("#txtName").val();
        param["LastName"] = $("#txtFamily").val();
        if ($("#txtBirthDate").val() != "") {
            var strBirth = $("#txtBirthDate").val().split("/");
            param["BirthDate"] = ConverShamsiToMiladi(strBirth[0], strBirth[1], strBirth[2]);
        }
        param["MobileNumber"] = $("#txtMobile").val();
        param["Gender"] = $("input[name=Gender]:checked").val();
        param["IsActive"] = $("input[name=PersonelStatus]:checked").val();
        param["UserType"] = $("input[name=UserType]:checked").val();
        param["InstituteName"] = $("#txtAnisName").val();
        param["InstituteType"] = $("#drpUserType").val();
        param["PostalCode"] = $("#txtAnisPostalCode").val();
        param["Tell"] = $("#txtAnisTell").val();
        if (document.getElementById("uplProfileImage").files.length > 0) {
            UploadFile('@Url.Action("UploadProfileImage", "Users")', document.getElementById("uplProfileImage"), "divAllPersonel", function (response) {
                param["ImageName"] = response.replace(/"/g,'');
                CallMethod('@Url.Action("Modify", "Users")', JSON.stringify(param), "divAllPersonel", function (response) {
                    ShowMessage("توجه", "عملیات با موفقیت انجام شد", MessageType.Succes, function () { window.location = '@Url.Action("Index", "Users")' });
                });
            });
        }
        else {
            param["ImageName"] = "@Model.ImageName";
            CallMethod('@Url.Action("Modify", "Users")', JSON.stringify(param), "divAllPersonel", function (response) {
                ShowMessage("توجه", "عملیات با موفقیت انجام شد", MessageType.Succes, function () { window.location = '@Url.Action("Index", "Users")' });
            });
        }
    }

    function changeUserType(type)
    {
        $("#drpUserType").attr("disabled", "true");
        $("#txtAnisName").attr("disabled", "true");
        $("#txtAnisPostalCode").attr("disabled", "true");
        $("#txtAnisTell").attr("disabled", "true");
        if (type == @((decimal)Shahrdari.Enums.E_PublicCategory.USER_TYPE.RESIDENTIAL_OFFICE_OR_COMMERCIAL))
        {
            $("#drpUserType").removeAttr("disabled");
            $("#txtAnisName").removeAttr("disabled");
            $("#txtAnisPostalCode").removeAttr("disabled");
            $("#txtAnisTell").removeAttr("disabled");
        }
    }
</script>
